<div class="slider">
  <ng-container *ngFor="let item of items; let i = index">
    <div class="slide" *ngIf="i == currentSlideIndex" @slideFade>
      <div class="slide-bg">
        <img
          class="slide-bg-img"
          *ngIf="item.backdrop_path"
          [src]="imagesSizes.large + item.backdrop_path"
          alt=""
        />
        <img
          class="slide-bg-img"
          *ngIf="!item.backdrop_path"
          [src]="imagesSizes.large + item.poster_path"
          alt=""
        />
      </div>
      <div class="slide-pane">
        <h2 class="name">{{ item.title }}</h2>
        <div class="meta">
          <div class="info">
            <span class="rating">
              <i class="app-icon">star</i>
              <span class="rating-value">{{ item.vote_average }}</span>
              <span>/10</span>
            </span>
            <span>{{ item.vote_count }} Reviews</span>
            <span>{{ item.release_date | date : "yyyy" }}</span>
          </div>
        </div>
        <div *ngIf="page == 'home' || page == 'movie'" class="desc mt-6">
          {{ item.overview }}
        </div>
      </div>
    </div>
  </ng-container>
</div>
