@import "../../../styles/colors";

.container {
  margin-top: 20px;

  .genre-link {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: $primaryColor;
    color: $bgColor;
    font-size: 1.6rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }

  .genre-link:hover {
    background-color: #5a480f;
    color: white;
  }
}
